$space-1: 8px;

.login-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 24px;
    border-radius: $space-1;
    background-color: rgb(22, 20, 33);

    input {
        margin-bottom: $space-1;
        padding: 8px 6px;
        border-radius: calc($space-1 / 2);
    }

    button {
        align-self: flex-end;
        border-style: none;
        padding: 8px;
        border-radius: $space-1;
    }
}